<div class="row">
  <div class="col-lg-6 mx-auto">
    <h2 class="fw-light">Hello, my name is Grigorii Paskov, Nice to meet you!
    </h2>
    <img class="roundimg" src="/images/img3.jpg" alt="picture" />
    <p>
      I am a student from Russia, currently studying at Centennial college in
      the Health Informatics Technology program. I chose this program because
      everyone in my family works in the medical field and I am interested in
      and understand the medical field. Right now I only know a few tools for
      web development, such as Express. js, Node.js, HTML, Git and JavaScript.
    </p>
    <p>Trere is has to be link to my Resume, but this link contain just randon
      PDF file.Sorry, i will fix it soon.
    </p>
    <a href="/Files/Resume.pdf" class="btn btn-secondary">
      My Resume
    </a>
  </div>

</div>