<h2>Here you can find how to contact me</h2>
<ul class="list-group">
  <li class="list-group-item">First name: Grigorii</li>
  <li class="list-group-item">Last Name: Pashkov</li>
  <li class="list-group-item">Phone number:*16475637592</li>
  <li class="list-group-item">Email: gpashkov@my.centennialcollege.ca</li>
  <li class="list-group-item">City: Toronto</li>
</ul>
<p>Feel fre to write me a message! Just use form bellow!</p>
<form>
  <div class="mb-3">
    <label for="Email1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="Email1"
    />
  <label for="FirstN" class="form-label">First Name</label>
    <input
      type="text"
      class="form-control"
      id="FirstN"
    />
  <label for="LastN" class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="LastN"
    />
    <label for="PhoneN" class="form-label">Phone Number</label>
    <input
      type="number"
      class="form-control"
      id="PhoneN"
    />
    <label for="Message" class="form-label">Your Message</label>
    <input
      type="text"
      class="form-control"
      id="Message"
    />
  <a href="/" class="btn btn-primary">
      SUBMIT
    </a>
</form>