
<div class="row">
  <div class="col-lg-6 mx-auto">
    <h2 class="fw-light">Welcome to my personal Site! </h2>
    <img src="/images/img2.jpg" alt="picture" />
    <p>
      Thank you for visiting the site that I designed. This is my first
      full-fledged site, which I will maintain and develop. To create this site
      I used technologies such as:
    </p>
    <li>Express.JS</li>
    <li>Express handlesbars</li>
    <li>Node.Js</li>
    <li>GitHub</li>
    <li>Git</li>
    <p>
    If you want to know more:</p>
    </p>
    <li>About me</li>
    <li>My contacts</li>
    <li>Projects that I`ve alredy done</li>
    <li>Services that i provide</li>
    <p>Click the button!</p>
    <a href="/aboutMe" class="btn btn-primary">
      About me
    </a>
    <a href="/contacts" class="btn btn-primary">
      Contacts
    </a>
    <a href="/projects" class="btn btn-primary">
      My projects
    </a>
    <a href="/services" class="btn btn-primary">
      My services
    </a>
  </div>

</div>