<h2>List of my Projects</h2>
<div class="row, g-5">
  <div class="col">
    <div class="card my-5" style="width: 50rem" ;>
      <img src="/images/img4.jpg" class="card-img-top" alt="Project1" />
      <div class="card-body">
        <h5 class="card-title">Database for Medical Equipment</h5>
        <p class="card-text">I was part of a team in Russia who developing a
          database of foods and their carbohydrate content for people with
          diabetes.</p>
      </div>
    </div>
    <div class="card my-5" style="width: 50rem" ;>
      <img src="/images/Picture1.png" class="card-img-top" alt="Project2" />
      <div class="card-body">
        <h5 class="card-title">Parking Check In System</h5>
        <p class="card-text">This project is in the process of development. This
          is a group project that we are developing with our classmates. This
          application automatically records the car entering the parking space,
          the time and license plate numbers and later sends an invoice to the
          owner of the car.</p>
      </div>
    </div>
    <div class="card my-5" style="width: 50rem" ;>
      <img src="/images/Picture2.png" class="card-img-top" alt="Project3" />
      <div class="card-body">
        <h5 class="card-title">Spending counter</h5>
        <p class="card-text">A little app I made for personal use. It keeps a
          record of your expenses over a given period of time, and when you
          press the count button, it gives you the amount of money you spent
          over a given period of time.</p>

      </div>
    </div>

  </div>
</div>