<h2>List of Services I provide</h2>
<div class="row ,g-5">
  <div class="col">
    <div class="card my-6" style="width: 30rem;">
      <img src="/images/Picture3.png" class="card-img-top" alt="Picture" />
      <div class="card-body">
        <p class="card-text">Node.JS</p>
      </div>
    </div>
    <div class="card my-6" style="width: 30rem;">
      <img src="/images/Picture4.png" class="card-img-top" alt="Picture" />
      <div class="card-body">
        <p class="card-text">Express.JS</p>
      </div>
    </div>
    <div class="card my-6" style="width: 30rem;">
      <img src="/images/Picture6.png" class="card-img-top" alt="Picture" />
      " />
      <div class="card-body">
        <p class="card-text">Express-handlebars</p>
      </div>
    </div>
    <div class="card my-6" style="width: 30rem;">
      <img src="/images/Picture5.png" class="card-img-top" alt="Picture" />
      <div class="card-body">
        <p class="card-text">Git and GitHub</p>
      </div>
    </div>
  </div>
</div>